#canvas {
    background: #0000FF;
}

#circle {
    background: blue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    right: 100px;
    bottom: 100px;
}